@model IEnumerable<JDB.BI.ViewModels.Instructor>

<div class="bg_img"></div>


<div class="main">
	<div class="div-content">  
	
	<div class="container_12">
		<div class="grid_12">
			<h2 class="v4">Instructors</h2>

			<div class="grid_4 alpha">
				<div class="wrapp marBot5 maxheight1">
					<img src="images/page3_pic1.jpg" alt="" class="img3">
					<h3 class="v2"></h3>
					<p class="p_martop lh21"></p>
					<a href="#" class="more_btn v3 gradient">more</a>
				</div>

				<div class="wrapp marBot5 maxheight1">
					<img src="images/page3_pic2.jpg" alt="" class="img3">
					<h3 class="v2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisc ing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</h3>
					<p class="p_martop lh21">Lorem ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#" class="more_btn v3 gradient">more</a>
				</div>
			</div>

			<div class="grid_4">
				<div class="wrapp marBot5 maxheight1">
					<img src="images/page3_pic3.jpg" alt="" class="img3">
					<h3 class="v2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisc ing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</h3>
					<p class="p_martop lh21">Lorem ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#" class="more_btn v3 gradient">more</a>
				</div>

				<div class="wrapp marBot5 maxheight1">
					<img src="images/page3_pic4.jpg" alt="" class="img3">
					<h3 class="v2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisc ing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</h3>
					<p class="p_martop lh21">Lorem ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#" class="more_btn v3 gradient">more</a>
				</div>
			</div>

			<div class="grid_4 omega">
				<div class="wrapp marBot5 maxheight1">
					<img src="images/page3_pic5.jpg" alt="" class="img3">
					<h3 class="v2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisc ing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</h3>
					<p class="p_martop lh21">Lorem ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#" class="more_btn v3 gradient">more</a>
				</div>

				<div class="wrapp marBot5 maxheight1">
					<img src="images/page3_pic6.jpg" alt="" class="img3">
					<h3 class="v2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisc ing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</h3>
					<p class="p_martop lh21">Lorem ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<a href="#" class="more_btn v3 gradient">more</a>
				</div>
			</div>

		</div>  
	</div>		
	</div>
</div>