@model JDB.BI.ViewModels.HomePage

@if (Model.ShowSliderPanel)
{
    Html.RenderPartial("Partials/_slider", @Model.HomePageSlider);
}

<div class="main">
	<div class="div-content">
    	<div class="container_12">
		    <div class="grid_12 txt_cntr">
			   @if (Model.ShowMainPanel)
      {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#mainPanel').mask("");
                            $('#mainPanel').load('@Url.Action("LoadMainContent", "Home")', function (response, status, xhr) { $('#mainPanel').unmask(); });
                        });	
                    </script>
                    <div id="mainPanel" class="wrapp grid_carousel responsive"></div>
                }
                <div class="wrapper2"></div>
		    </div>  
	    </div>	
	</div>
</div>




